In [3]:
# %%
# importation des biblioth√®ques
import requests
import pandas as pd
import sqlite3, sqlalchemy
from tqdm.notebook import trange, tqdm
from sqlalchemy import Table, Column, Integer, String, ForeignKey, MetaData, create_engine, text, inspect, Float


import csv

def read_tsv(path):
    with open(path, newline="", encoding="utf-8") as f:
        reader = csv.reader(f, delimiter="\t")
        headers = next(reader)

        for row in reader:
            yield {
                h: (None if v == r"\N" else v)
                for h, v in zip(headers, row)
            }


import gzip
import csv

# with gzip.open("title.principals.tsv.gz", "rt", encoding="utf-8") as f:
#     reader = csv.DictReader(f, delimiter="\t")

#     for i, row in enumerate(reader):
#         print(row)
#         if i == 4:
            # break


#inspect data in file

with gzip.open("../data/raw/title.principals.tsv.gz", "rt", encoding="utf-8") as f:
    reader = csv.DictReader(f, delimiter="\t")

    for i, row in enumerate(reader):
        print(row)
        if i == 4: 
            break

{'tconst': 'tt0000001', 'ordering': '1', 'nconst': 'nm1588970', 'category': 'self', 'job': '\\N', 'characters': '["Self"]'}
{'tconst': 'tt0000001', 'ordering': '2', 'nconst': 'nm0005690', 'category': 'director', 'job': '\\N', 'characters': '\\N'}
{'tconst': 'tt0000001', 'ordering': '3', 'nconst': 'nm0005690', 'category': 'producer', 'job': 'producer', 'characters': '\\N'}
{'tconst': 'tt0000001', 'ordering': '4', 'nconst': 'nm0374658', 'category': 'cinematographer', 'job': 'director of photography', 'characters': '\\N'}
{'tconst': 'tt0000002', 'ordering': '1', 'nconst': 'nm0721526', 'category': 'director', 'job': '\\N', 'characters': '\\N'}

In [ ]:
import pandas as pd
import sqlite3

df = pd.read_csv("../data/raw/title.principals.tsv.gz", sep='\t')

conn = sqlite3.connect(":memory:")
df.to_sql("crew", conn, index=False)

In [30]:
result = pd.read_sql_query("SELECT DISTINCT job FROM crew WHERE (LOWER(job) LIKE '% actor%' OR LOWER(job) LIKE 'actor%')AND LOWER(job) NOT LIKE 'casting director:'", conn)

In [26]:
result

                                     job
0                         actor director
1                                  Actor
2                                  actor
3                         actor/director
4                        actors director
5                       actor's director
6       Actor, Dialogue Writer, Lyricist
7                        Actor, narrator
8                        Escritor, Actor
9                     actors co-director
10     casting director: American actors
11                         Actor, Writer
12  Writer & director & producer & Actor
13                      Actor: Pankaj Ai
14                 actor/writer/director
15                       director: actor
16                      director: actors
17               Writer, Director, Actor
18                  Voice actor director